*.class

*.iml
*.ipr
*.iws
/.idea
/out

/node_modules

module_frontend/target/*
!module_frontend/target/scala-2.11/
/project/*
!/project/build.properties
!/project/plugins.sbt
/target/
/module_model/js/
/module_model/jvm/